.CurrencyConverter {
    max-width: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

.CurrencyConverter-errormessage {
    padding-top: 15px;
    padding-bottom: 15px;

    border: 2px solid red;
    background-color: lightcoral;
    border-radius: 4px;
}

.CurrencyConverter-errormessage__text {
    padding: 10px;
}

.CurrencyConverter-convertedmessage {
    padding-top: 15px;
    padding-bottom: 15px;

    color: grey;
    font-size: smaller;
}

.CurrencyConverter-convertedmessage__mainrow {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

.CurrencyConverter-inputgroup__input {
    display: inline-block;
    margin: 10px;
    margin-left: 0;
    padding: 12px 20px;

    width: 45%;
    max-width: 150px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.CurrencyConverter-inputgroup__select {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;

    width: 45%;
    max-width: 150px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.CurrencyConverter-language__select {
    display: inline-block;
    margin: 10px;
    margin-left: 0;
    padding: 12px 20px;

    width: 100%;
    max-width: 320px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
